body{
    background-color: black;
    color: #e5e5e5;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10pt;
    border-bottom: 1px solid;
}

main{
    margin: 0 150px;
}

h3{
     color: #e5e5e5;  
     font-family: "Yeseva One", serif; 
}


span{
    color: #e5e5e5; 
}

h1{
    color: aliceblue;
    font-family: "Yeseva One", serif;  
}

div{
    color: #4ddda6;
}

p{
    color: dimgrey;
    font-family: "Montserrat", sans-serif;
}

footer{
    color: dimgrey;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.point{
    color: #4ddda6;

}

.logo span{
    margin: 0 10px;
}

.menu b{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px ;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.encadrer-vert{
    width: 21%;
    height: 30px;
    background-color: #4ddda6;
}

